---
// @ts-nocheck
const options = {
  method: 'POST',
  headers: {
    "Content-Type": "application/json; charset=UTF-8",
    Authentication: `Bearer ${import.meta.env.ID_COMPANY}`,
  }
};

const urlGetProperty = "https://api.wasi.co/v1/property/get/";
let property = null;

async function fetchProperty(params) {
  const propertyId = params.id_property;

  try {
    const response = await fetch(`${urlGetProperty}${propertyId}?id_company=${import.meta.env.ID_COMPANY}&wasi_token=${import.meta.env.WASI_TOKEN}`, options);
    property = await response.json();
  } catch (error) {
    console.error('Error fetching property:', error);
  }
}

// Llamar a la función con los parámetros disponibles
await fetchProperty(Astro.params);
---

<div class="property-container">
  {property ? (
    <div>
      <div class="property-header">
        <h2>{property.title}</h2>
      </div>
      <div class="property-details">
        <p><strong>Dirección:</strong> {property.address}</p>
        <p><strong>Precio de venta:</strong> {property.sale_price}</p>
        <p><strong>Ciudad:</strong> {property.city_label}</p>
        <p><strong>Área construida:</strong> {property.built_area} m²</p>
      </div>
      <div class="property-image">
        <img src={property.main_image.url} alt={property.title} />
      </div>
    </div>
  ) : (
    <p>Cargando datos de la propiedad...</p>
  )}
</div>

<style>
   .property-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .property-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .property-header h2 {
    font-size: 24px;
    color: #333;
  }

  .property-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .property-details p {
    font-size: 16px;
    color: #555;
  }

  .property-image {
    grid-column: span 2;
    text-align: center;
  }

  .property-image img {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
  }

  @media (max-width: 600px) {
    .property-details {
      grid-template-columns: 1fr;
    }
  }

</style>